header.header
    .header__prenav
        a.header__prenav-lang(href="") ru
        h1.header__prenav-title TOTEMBO
        span.header__prenav-search.icon-search
    nav.header__nav
        .header__nav-container
            .bg
            button.header__btn.icon-burger  
            ul.header__nav-list
                -var list = ['Часы','Кольца','Серьги','Браслеты','Клатчи','Цепочки']
                each item in list
                    li.header__nav-li
                        a.header__nav-link(href="#")= item
            .header__nav-icons
                a.header__nav-icon.icon-heart(href="") 
                a.header__nav-icon.icon-cart(href="") 
                a.header__nav-icon.icon-user(href="") 